body
{
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;
}
.knoppen
{
    overflow: hidden;
  
}
.knoppen li
{
    list-style: none;
    float: left;
    border: 2px solid black;
    background-color: lightgrey;
    color: black;
    width: 22%;
    
}
.knoppen li a{
    color: black;
 
}
.knoppen li a:hover{
    color: white;
 
}
knoppen li.actief
{
    background-color: deepskyblue;
}
.paneel
{
/*     display: none;*/
}
.paneel.actief
{
    display: block !important;
}
.paneel img
{
    max-width: 100%;
}

#validatie img 
{
    height: 2em;
    width: auto;
    border: 0;
}
@font-face{
    font-family: news;
    src: url(SEASRN__.ttf);
}
h1{
    font-family: news;

}
h2{
   font-family: news; 
}
footer{
    border: 2px solid black;
  
 
}
.paneel{
  
}
